@import url("https://fonts.google.com/specimen/Raleway");

body {
  background-color: beige;
  font-family: "Josefin Sans", sans-serif;
}

body img {
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 5%;
  align-items: center;
  border-bottom: 3px solid black;
}

.headerLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-decoration: none;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}
.headerLinks a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: normal;
}

.big3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". a b c .";
  margin: 2%;
  text-align: center;
  font-size: x-large;
}

.big3 h2 {
  font-weight: bolder;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.b1 {
  grid-area: a;
}

.b2 {
  grid-area: b;
}

.b3 {
  grid-area: c;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 5%;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 10%;
  margin-bottom: 3%;
}

.text1 {
  font-size: xx-large;
}

.img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0% 10% 3% auto;
}

.img3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100%;
}

.text2 {
  font-size: xx-large;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5% 10% 5% 10%;
  text-align: center;
  font-size: x-large;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;

  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-8 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.servicesPage h2 {
  margin-left: 2%;
  font-weight: bolder;
  font-size: xx-large;
}

.contactPage h2 {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services ul {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  font-size: larger;
}

.servicesImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.projectsPage h2 {
  margin-left: 2%;
  font-weight: bolder;
  font-size: xx-large;
}

.projects {
  font-size: large;
}

.projects li {
  display: flex;
  margin-left: 2%;
  margin-bottom: 5%;
}

.projects li p {
  margin: auto;
  margin-left: 5%;
  margin-right: 3%;
  font-size: xx-large;
}

.projects img {
  max-width: 40%;
}

.form {
  text-align: center;
}

.name {
  width: 30%;
  height: 2rem;
  border: 2px solid black;
  margin-bottom: 1%;
}

.email {
  width: 30%;
  height: 2rem;
  border: 2px solid black;
  margin-bottom: 1%;
}

.message {
  display: inline-block;
  width: 30%;
  height: 5rem;
  border: 2px solid black;
  margin-bottom: 1%;
}

.button {
  width: 15%;
  height: 2rem;
}
